.content {
    padding-bottom: 102px;
    margin: 0 auto;
    width: 1290px;
    display: flex;
    justify-content: space-between;

    &__container {
        margin-top: 44px;
        width: 210px;
        &:last-child {
            width: 992px;
        }
    }

    &__list {
        &:last-child {
            .content__list-title {
                margin-top: 27px;
            }
            .content__item {
                line-height: 28px;
            }
        }
    }

    &__list-title {
        margin-bottom: 8px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        color: $third_color;
    }

    &__list-item {
        width: auto;
    }
    &__item {
        padding-bottom: 5px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: $third_color;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $first_color;
            transition: transform 0.3s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
            z-index: 1;
        }
        &:hover {
            color: $first_color;
            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        &_active {
            color: $first_color;
            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    &__tabs {
        width: 100%;
        position: relative;
    }
    &__tab {
        width: 100%;
        /* position: absolute;
        z-index: -10;
        opacity: 0; */
        display: none;
        transition: all 0.1s;
        &_active {
            /* z-index: 1 !important;
            opacity: 1 !important; */
            display: block;
        }
    }
}

@media (max-width: 1355px) {
    .content {
        margin: 0 25px;
        width: auto;
    }
    .content__container:last-child {
        width: 845px;
    }
}
@media (max-width: 1125px) {
    .content__container:last-child {
        width: auto;
    }
    .content__tabs {
        display: flex;
        justify-content: end;
    }
    .content__tab {
        width: 600px;
        overflow-x: scroll;
    }
}
@media (max-width: 890px) {
    .content {
        flex-direction: column;
        justify-content: normal;
        gap: 25px;
    }
    .content__tabs {
        justify-content: start;
    }
}

@media (max-width: 630px) {
    .content {
        margin: 0 10px;
    }
    .content__tab {
        width: 100%;
    }
}
