.about-manufacturer {
    padding: 100px 0 90px;
    background-color: $second_bg_color;

    &__container {
        margin: 0 auto;
        width: 1290px;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        width: 480px;
    }

    &__title {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 45px;
        line-height: 53px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__subtitle {
        margin-top: 55px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: $third_color;
        span {
            font-weight: 600;
            color: $first_color;
        }
    }

    &__link {
        margin-top: 53px;
        width: 170px;
        height: 52px;
        border: 1.5px solid #337d5a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $first_color;
        transition: all 0.2s;
        &:hover {
            background-color: $first_color;
            color: $default_color;
        }
    }

    &__slider {
        position: relative;
        margin: 0;
    }

    &__swiper-wrapper {
        width: 700px;
    }

    &__slide {
        width: 700px;
        height: 472px;
        img {
            object-fit: cover;
        }
    }

    &__btn {
        &-prev,
        &-next {
            position: absolute;
            top: auto;
            bottom: 0 !important;
            left: 0;
            width: 70px;
            height: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $first_color;
        }
        &-next {
            left: 70px;
        }
    }

    &__btn-img {
        width: 22px;
        height: 18px;
    }

    &_white {
        background-color: $default_color;
    }
}

@media (max-width: 1355px) {
    .about-manufacturer {
        &__container {
            width: 1000px;
        }
        &__swiper-wrapper {
            width: 500px;
        }
    }
}
@media (max-width: 1024px) {
    .about-manufacturer {
        &__container {
            width: auto;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__link {
            margin-left: auto;
            margin-right: auto;
        }
        &__slide {
            margin-top: 25px;
        }
    }
}
@media (max-width: 535px) {
    .about-manufacturer {
        padding-left: 25px;
        padding-right: 25px;
        &__wrapper {
            margin: 0 25px;
            width: auto;
        }
        &__title {
            font-size: 28px;
            line-height: 33px;
        }
        &__subtitle {
            font-size: 17px;
            line-height: 20px;
        }
        &__slider {
            width: 100%;
        }
        &__swiper-wrapper {
            width: 400px;
        }
    }
}
@media (max-width: 425px) {
    .about-manufacturer {
        padding-left: 10px;
        padding-right: 10px;
        &__wrapper {
            margin: 0 10px;
            width: auto;
        }
        &__title {
            font-size: 28px;
            line-height: 33px;
        }
        &__subtitle {
            font-size: 17px;
            line-height: 20px;
        }
        &__slider {
            width: 100%;
        }
        &__swiper-wrapper {
            width: 310;
            height: 350px;
        }
    }
}
