.footer {
    &__container {
        padding-top: 101px;
    }
    &__info {
        margin: 0 auto;
        width: 1290px;
        display: flex;
        justify-content: space-between;
        &-container {
        }
    }

    &__contacts {
        &-info {
            margin-top: 72px;
            width: 308px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        margin-top: 10px;
        margin-left: -3px;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 44px;
        line-height: 53px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__tel {
        display: flex;
        align-items: center;
        &-img {
            margin-right: 16px;
            width: 14px;
            height: 14px;
        }
        &-group {
            height: 45px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        &-number {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: $third_color;
        }
    }

    &__social {
        width: 113px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
        }
        &-link {
            width: 31px;
            height: 31px;
        }
    }

    &__email {
        margin-top: 45px;
        display: flex;
        &-img {
            margin-right: 15px;
            width: 15px;
            height: 15px;
        }
        &-link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $third_color;
        }
    }

    &__office {
        margin-top: 47px;
        &-wrapper {
            display: flex;
        }
        &-img {
            margin-right: 14px;
            width: 16px;
            height: 16px;
        }
        &-title {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 17px;
            line-height: 20px;
            color: $third_color;
        }
        &-addres {
            margin-top: 17px;
            margin-left: 30px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: $third_color;
        }
    }

    &__manufacture {
        margin-top: 37px;
        &-wrapper {
            display: flex;
            align-items: center;
        }
        &-img {
            margin-right: 14px;
            width: 16px;
            height: 17px;
        }
        &-title {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 17px;
            line-height: 20px;
            color: $third_color;
        }
        &-addres {
            margin-top: 17px;
            margin-left: 30px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.01em;
            color: $third_color;
        }
    }

    &__map {
        width: 740px;
        height: 518px;
    }

    &__navigation {
        margin: 0 auto;
        margin-top: 81px;
        width: 1290px;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
    }

    &__logo {
        display: flex;
        align-items: center;
        &-img {
            margin-right: 8px;
            width: 54px;
            height: 53px;
        }
        &-title {
            margin-top: 2px;
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: $third_color;
        }
    }

    &__list {
        width: 994px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            margin-top: 23px;
        }
        &-link {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $third_color;
            transition: all 0.3s;
            &:hover {
                color: $first_color;
            }
        }
    }

    &__licence {
        margin: 0 auto;
        width: 1290px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-container {
            width: 767px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__develop {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $third_color;
        span {
            color: $first_color;
            &:first-child {
                font-weight: 600;
            }
        }
    }

    &__copyright {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $third_color;
        &_middle {
            display: none;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $third_color;
        }
    }

    &__sec-social {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
        }
        &-link {
            width: 13px;
            height: 13px;
            &:last-child {
                width: 16px;
                height: 16px;
            }
        }
    }

    &_dark {
        padding-bottom: 90px;
        background-color: $second_bg_color;
    }
}

@media (max-width: 1355px) {
    .footer {
        &__info {
            width: auto;
            margin: 0 25px;
        }
        &__navigation {
            width: auto;
            margin-left: 25px;
            margin-right: 25px;
        }
        &__list {
            width: auto;
            &-item {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__licence {
            width: auto;
            margin: 0 25px;
            &-container {
                width: calc(767px * 100% / 1290px);
            }
        }
    }
}
@media (max-width: 1125px) {
    .footer {
        &__info {
            width: auto;
            margin: 0 25px;
            align-items: center;
            flex-direction: column;
            &-container {
                margin-top: 50px;
                width: 710px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                align-content: space-between;
                gap: 50px 0;
            }
        }

        &__contacts {
            &-info {
                margin-top: 0;
            }
        }
        &__email {
            margin-top: 0;
        }
        &__office {
            margin-top: 0;
        }
        &__manufacture {
            margin-top: 0;
        }
        &__map {
            margin-top: 50px;
        }
        &__navigation {
            display: none;
        }
        &__list {
            width: auto;
            &-item {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__licence {
            width: auto;
            margin: 0 25px;
            &-container {
                width: calc(767px * 100% / 1290px);
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__divider {
            margin-top: 25px;
        }
        &__licence {
            &-container {
                width: auto;
            }
        }
        &__copyright {
            &_middle {
                display: block;
            }
            &:first-child {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &__map {
            width: 100%;
        }
        &__info {
            &-container {
                width: 100%;
            }
        }
    }
}
@media (max-width: 630px) {
    .footer {
        &__map {
            height: 250px;
        }
        &__copyright {
            &_middle {
                display: none;
            }
        }
    }
}
@media (max-width: 535px) {
    .footer {
        &__info {
            margin: 0 10px;
            &-container {
                display: block;
            }
        }
        &__email {
            margin-top: 25px;
        }
        &__office {
            margin-top: 25px;
        }
        &__manufacture {
            margin-top: 25px;
        }
    }
}
@media (max-width: 375px) {
    .footer {
        &__contacts-info {
            width: auto;
        }
        &__tel {
            margin-right: 10px;
        }
    }
}
