.info {
    padding: 87px 0 86px;

    &__wrapper {
        margin: 0 auto;
        width: 1131px;
    }

    &__group {
        display: flex;
        justify-content: space-between;
    }

    &__group-item {
        &:nth-child(2) {
            padding-left: 88px;
        }
        &:nth-child(3) {
            padding-left: 15px;
        }
        &:last-child {
            .info__title {
                &::after {
                    content: '%';
                }
            }
            .info__subtitle {
                margin-right: -12px;
            }
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 72px;
        line-height: 57px;
        letter-spacing: 0.01em;
        text-align: center;
        color: $third_color;
        position: relative;
        &::after {
            content: 'Га';
            position: absolute;
            margin-top: -3px;
            margin-left: 5px;
            top: 0;
            font-family: 'Raleway';
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: $third_color;
        }
    }

    &__subtitle {
        margin-top: 17px;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.02em;
        color: $third_color;
    }

    &_dark {
        background-color: $second_bg_color;
    }
}

@media (max-width: 1355px) {
    .info {
        &__wrapper {
            width: 885px;
        }
    }
}
@media (max-width: 1024px) {
    .info {
        &__wrapper {
            width: 600px;
        }
        &__group {
            flex-wrap: wrap;
            gap: 50px;
            justify-content: space-around;
        }
    }
}
@media (max-width: 600px) {
    .info {
        &__title {
        }
        &__subtitle {
        }
        &__wrapper {
            width: auto;
        }
        &__group {
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
}
