.mini-news {
    padding: 84px 0 90px;
    background-color: $second_bg_color;

    &__container {
        margin: 0 auto;
        width: 1290px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
    }

    &__title {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 45px;
        line-height: 53px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__subtitle {
        margin-top: 32px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $third_color;
    }

    &__navigation {
        margin-top: 9px;
        display: flex;
    }

    &__btn {
        &-prev,
        &-next {
            width: 71px;
            height: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $first_color;
        }
        &-img {
            width: 22px;
            height: 18px;
        }
    }

    &__slider {
        margin: 0 auto;
        margin-top: 64px;
        width: 1290px;
    }

    &__slider-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__slide {
        padding-bottom: 34px;
        width: 408px;
        background-color: $default_color;
    }

    &__img {
        width: 100%;
        height: 270px;
    }

    &__date {
        margin-top: 22px;
        margin-left: 23px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $fourth_color;
    }

    &__article {
        margin: 10px 24px 0 23px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__subarticle {
        margin: 12px 37px 0 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $third_color;
    }

    &__link {
        margin-top: 22px;
        margin-left: 23px;
        width: 200px;
        display: flex;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $third_color;
        transition: all 0.2s;
        &:hover {
            color: $first_color;
            .mini-news__link-img {
                svg{
                    fill: $first_color;
                }
            }
        }
    }

    &__link-img {
        margin-left: 8px;
        svg {
            fill: $third_color;
            transition: all .2s;
        }
    }

    &__btn {
        margin: 0 auto;
        margin-top: 64px;
        width: 225px;
        height: 52px;
        border: 1px solid $first_color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: $first_color;
        transition: all 0.2s;
        &:hover {
            background-color: $first_color;
            color: $default_color;
        }
    }
    &_white {
        background-color: $default_color;
    }
}

@media (max-width: 1355px) {
    .mini-news {
        &__container {
            width: 848px;
        }
        &__slider {
            width: 848px;
        }
    }
}
@media (max-width: 890px) {
    .mini-news {
        &__container {
            width: 408px;
            align-items: flex-start;
            flex-direction: column;
        }
        &__title {
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__navigation {
            margin-top: 20px;
        }
        &__slider {
            width: 408px;
        }
    }
}
@media (max-width: 425px) {
    .mini-news {
        padding-left: 10px;
        padding-right: 10px;
        &__container {
            width: auto;
        }
        &__title {
            font-size: 28px;
            line-height: 33px;
        }
        &__subtitle {
            margin-top: 10px;
            text-align: left;
        }
        &__navigation {
            margin-top: 20px;
        }
        &__slider {
            width: auto;
        }
        &__slide {
            width: 100%;
        }
        &__img {
            img {
                object-fit: cover;
            }
        }
        &__btn {
            margin-top: 50px;
        }
    }
}
