* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
h1, h2 {
    margin: 0;
}
body {
    position: relative;
}

$first_color: #337d5a;
$second_color: #93b474;
$third_color: #1a2f3f;
$fourth_color: #8a8a8a;

$first_bg_color: #fafafa;
$second_bg_color: #fbfbfb;
$third_bg_color: #fcfcfc;

$first_text_color: #323232;

$default_color: #ffffff;
$alternate_text_color: #000000;
