.news {
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &__items {
        position: relative;
        &-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -25%);
        }
    }

    &__item-play {
        margin: 0 auto;
        width: 61px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #ffffff;
        transition: all 0.2s;
        &:hover {
            border: none;
            background-color: $first_color;
        }
        img {
            width: 10px;
            height: 14px;
        }
    }

    &__item-title {
        margin-top: 26px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        text-align: center;
        color: $default_color;
    }

    &__item-subtitle {
        margin-top: 16px;
        width: 563px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $default_color;
    }
    &__item-img {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
        }
    }
    &__link {
        margin: 0 auto;
        width: 200px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #337d5a;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $first_color;
        transition: all 0.2s;
        &:hover {
            color: $default_color;
            background-color: $first_color;
        }
    }
}
.main-news {
    margin: 0 auto;
    width: auto;
    display: flex;
    gap: 24px;

    &__img {
        width: 849px;
        height: 526px;
        img {
            object-fit: cover;
        }
    }

    &__article {
        margin-top: 70px;
        width: 417px;
    }

    &__article-date {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $fourth_color;
    }

    &__article-title {
        margin-top: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__article-descr {
        margin-top: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: $third_color;
    }

    &__article-link {
        margin-top: 36px;
        display: flex;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $third_color;
        transition: all 0.2s;
        &-img {
            margin-left: 9px;
            width: 18px;
            height: 9px;
        }
        &:hover {
            color: $first_color;
        }
    }
}
.news-group {
    width: 1290px;
    display: flex;
    gap: 31px;

    &__item {
    }

    &__img {
        width: 408px;
        height: 270px;
    }

    &__date {
        margin-top: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $fourth_color;
    }

    &__article {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__subarticle {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__link {
        margin-top: 27px;
        display: flex;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__link-img {
        margin-left: 9px;
        width: 18px;
        height: 9px;
    }
}
.mini-news {
    padding: 0 !important;

    &__date {
        margin-top: 23px !important;
        margin-left: 0 !important;
    }
    &__article {
        margin-top: 9px !important;
        margin-left: 0 !important;
        letter-spacing: normal !important;
    }
    &__subarticle {
        margin-right: 58px !important;
        margin-left: 0 !important;
    }
    &__link {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
    &__container {
        display: none !important;
    }
    &__slider {
        margin-top: 0 !important;
    }
    &__slide {
        padding-bottom: 0 !important;
        &:nth-child(3n) {
            .mini-news__article {
                margin-right: 45px !important;
            }
        }
    }
    &__btn {
        display: none !important;
    }
}

@media (max-width: 1355px) {
    .news {
        &__item {
            &-img {
                width: 848px;
            }
        }
    }
    .main-news {
        &__img {
            width: 386px;
        }
    }
}
@media (max-width: 890px) {
    .news {
        &__items {
            margin-left: 10px;
            margin-right: 10px;
        }
        &__item {
            &-img {
                width: 100%;
            }
        }
    }
    .main-news {
        width: 420px;
        flex-direction: column;
        &__img {
            width: 100%;
        }
        &__article {
            margin-top: 0;
        }
    }
}
@media (max-width: 768px) {
    .news {
        &__item {
            &-subtitle {
            }
            &-img {
                height: 400px;
            }
        }
    }
}
@media (max-width: 583px) {
    .news {
        &__items {
            &-wrapper {
                width: 100%;
            }
        }
        &__item {
            &-subtitle {
                margin-left: 10px;
                margin-right: 10px;
                width: auto;
            }
        }
    }
}
@media (max-width: 425px) {
    .news {
        &__items {
            width: 100%;
        }
        &__item {
            &-img {
                margin-left: 10px;
                margin-right: 10px;
                width: auto;
            }
        }
    }
    .main-news {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        &__article {
            width: auto;
        }
    }
    .mini-news {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
}
