.ordering {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 1290px;
    &__form {
        width: 474px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 30px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 17px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: $third_color;
        &:not(&:first-child) {
            margin-top: 45px;
        }
    }

    &__container {
        input {
            margin-top: 15px;
            padding-left: 17px;
            height: 47px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $third_color;
            border: 0.5px solid rgba(0, 0, 0, 0.15);
            outline: none;
            &:first-of-type {
                margin-top: 0;
            }
            &:focus {
                border-color: $first_color;
            }
        }
    }

    &__fop,
    &__corp {
        display: flex;
        flex-direction: column;
    }

    &__delivery {
        display: flex;
        flex-direction: column;
        border: none;
    }

    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .ordering__label::before {
            background-color: $first_color;
        }
    }

    &__label {
        position: relative;
        margin-top: 15px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $third_color;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        &::before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 2px solid #fff;
            outline: 2px solid $first_color;
            border-radius: 50%;
        }
        &:nth-child(1),
        &:nth-child(4) {
            margin-top: 0;
        }
        &:nth-child(3) {
            &::after {
                content: url('@img/stickers/free.png');
                position: absolute;
                top: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 25px;
                z-index: 2;
            }
        }
    }

    &__btn {
        margin-top: 36px;
        width: 249px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $first_color;
        border: 0.5px solid $first_color;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: $default_color;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-color: $default_color;
            color: $first_color;
        }
    }

    &_hide {
        display: none !important;
    }
}
.address {
    margin-top: 18px;
    display: none;
    flex-direction: column;
    gap: 15px;
    &__country,
    &__region {
        position: relative;
        height: 47px;
        width: 100%;
        input {
            opacity: 0;
            position: absolute;
            bottom: 0;
        }
    }

    &_show {
        display: flex !important;
    }
}
#address {
    display: none;
    margin-top: 16px;
    padding-left: 15px;
    width: 100%;
    height: 47px;
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $third_color;
    transition: all 0.2s;
    &:hover {
        background-color: rgba(51, 125, 90, 0.1);
    }
    &:focus {
        border-color: $first_color;
    }
}
.select {
    &__input {
    }

    &__head {
        position: absolute;
        top: 0;
        padding-left: 15px;
        width: 100%;
        height: 47px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $third_color;
        transition: all 0.2s;
        &:hover {
            background-color: rgba(51, 125, 90, 0.1);
        }
        &::after {
            width: 11px;
            height: 7px;
            background: #fff url('../icons/arrow-down_green.svg') no-repeat center / cover;
            position: absolute;
            right: 17px;
            bottom: 50%;
            transform: translateY(50%);
            content: '';
            display: block;
            transition: 0.2s ease-in;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 100;
        border: 1px solid rgba(0, 0, 0, 0.08);
        &_show {
            display: flex !important;
            .select__head::after {
                transform: translateY(50%) rotate(180deg);
            }
        }
        &_ukr {
            display: none;
        }
    }

    &__item {
        padding-left: 15px;
        height: 47px;
        display: flex;
        align-items: center;
        position: relative;
        border-top: 1px solid rgba(224, 229, 231, 0.5);
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $third_color;
        cursor: pointer;
        &_active {
            color: $default_color;
            background-color: $first_color;
            &:hover {
                background: $first_color !important;
            }
        }
        &:hover {
            background-color: rgba(51, 125, 90, 0.1);
        }
    }
}
