.info-for-clients {
    padding: 81px 0 131px;

    &__wrapper {
        margin: 0 auto;
        width: 1290px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        width: 420px;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 45px;
        line-height: 53px;
        color: $third_color;
    }

    &__subtitle {
        margin-top: 13px;
        margin-left: 45px;
        width: 365px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $third_color;
    }

    &__text {
        margin-top: 13px;
        margin-left: 22px;
        width: 330px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $third_color;
    }
}

@media (max-width: 1440px) {
    .info-for-clients {
        &__wrapper {
            width: 1125px;
        }
    }
}

@media (max-width: 1200px) {
    .info-for-clients {
        &__wrapper {
            margin: 0 25px;
            width: auto;
            flex-direction: column;
        }
        &__title {
            text-align: center;
            width: auto;
            br {
                display: none;
            }
        }
        &__subtitle {
            margin-left: 0;
            margin-top: 25px;
            width: auto;
            text-align: center;
            br {
                display: none;
            }
        }
        &__text {
            margin-left: 0;
            width: auto;
            text-align: center;
            br {
                display: none;
            }
        }
    }
}
@media (max-width: 630px) {
    .info-for-clients {
        &__title {
            font-size: 28px;
            line-height: 33px;
        }
    }
}
