.basket {
    &__table {
        margin: 0 auto;
        width: 1290px;
        border-collapse: collapse;
    }

    &__head {
        height: 68px;
        background-color: $second_bg_color;
    }

    &__head-row {
    }

    &__head-cell {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: $third_color;
    }

    &__body {
    }

    &__body-row {
        height: 62px;
        transition: all 0.2s;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        &:hover {
            background: rgba(51, 125, 90, 0.1);
        }
    }

    &__body-cell {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
    }

    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            padding-left: 17px;
            width: 44px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: none;
            transition: all 0.2s;
            &:focus {
                outline-color: $first_color;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
            /* -webkit-appearance: none;
            margin: 0; */ /* <-- Apparently some margin are still there even though it's hidden */
        }
        &_active {
            input {
                border: 1px solid $first_color;
            }
        }
    }

    &__arrow-prev,
    &__arrow-next {
        cursor: pointer;
        svg {
            fill: $fourth_color;
            transition: all 0.2s;
        }
        &:hover {
            svg {
                fill: $first_color;
            }
        }
    }

    &__arrow-prev {
        margin-right: 9px;
    }

    &__arrow-next {
        margin-left: 9px;
    }
}
.action {
    padding-top: 30px;
    margin: 0 auto;
    width: 1290px;
    display: flex;
    justify-content: space-between;
    &__back {
        width: 249px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $first_color;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: $first_color;
        transition: all 0.2s;
        svg {
            margin-right: 12px;
            fill: $first_color;
            transition: all 0.2s;
        }
        &:hover {
            color: $default_color;
            background-color: $first_color;
            svg {
                fill: $default_color;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__total {
        display: flex;
    }

    &__text {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        color: $third_color;
    }

    &__price {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
        color: $first_color;
        span {
            margin-left: 10px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 22px;
            line-height: 32px;
            color: $first_color;
        }
    }

    &__complete {
        margin-left: 28px;
        width: 249px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $first_color;
        border: 1px solid $first_color;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: $default_color;
        transition: all 0.2s;
        &:hover {
            color: $first_color;
            background-color: $default_color;
        }
    }
}

@media (max-width: 1355px) {
    .basket {
        margin-left: 25px;
        margin-right: 25px;
        &__table {
            width: 100%;
        }
    }
    .action {
        width: auto;
    }
}
@media (max-width: 768px) {
    .basket {
        &__container {
            overflow-x: scroll;
        }
        &__table {
            width: 800px;
        }
    }
    .action {
        flex-direction: column;
        gap: 25px;
    }
}
@media (max-width: 630px) {
    .basket {
        margin-left: 10px;
        margin-right: 10px;
    }
    .action {
        &__complete {
            margin-left: 20px;
        }
    }
}
@media (max-width: 425px) {
    .basket {
        &__table {
            width: 700px;
        }
    }
    .action {
        align-items: center;
        &__wrapper {
            flex-direction: column;
        }
        &__complete {
            margin-left: 0;
        }
    }
}