.info {
    padding-top: 62px;
    padding-bottom: 93px;

    &__title {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: center;
    }

    &__wrapper {
        margin: 0 auto;
        margin-top: 15px;
        width: 375px;
        display: flex;
        justify-content: space-between;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: $third_color;
    }

    &__login,
    &__register {
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: $first_color;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $second_color;
            transition: transform 0.3s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
            z-index: 1;
        }
        &:hover {
            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    &_hide {
        display: none;
    }
}
@media (max-width: 630px) {
    .info {
        &__title {
            margin: 0 10px;
        }
    }
}
@media (max-width: 425px) {
    .info {
        &__wrapper {
            margin-left: 10px;
            margin-right: 10px;
            width: auto;
            flex-direction: column;
            align-items: center;
        }
    }
}